.searchContainer{
    margin: 35px 35px 15px 35px;
}

.getRegisterContainer{
    margin: 15px 350px 25px 35px;
}
.tableViewContainer{
    margin: 10px 35px 25px 35px;
}
#GetBookByTitle{
    margin-top: 10px;
}